menu "Minos OS configuration"

config MAX_CPU_NR
	int "max cpu in system"
	default 8
	help
	  max cpu count in system

choice
	prompt "default task stack size"
	default TASK_STACK_SIZE_8K
	config TASK_STACK_SIZE_4K
		bool "4K"
	config TASK_STACK_SIZE_8K
		bool "8k"
endchoice

config TASK_STACK_SIZE
	hex
	default 0x1000 if TASK_STACK_SIZE_4K
	default 0x2000 if TASK_STACK_SIZE_8K
	default 0x2000

config TASK_STACK_SHIFT
	int
	default 12 if TASK_STACK_SIZE_4K
	default 13
	range 12 14
	help
	  the shift size of task stack

config STACK_PAGE_ALIGN
	bool "stack size is 4K align"
	default n
	help
	  "the stack for all the task need 4K align"

config MAX_SLAB_BLOCKS
	int "default SLAB blocks"
	default 10

config TASK_RUN_TIME
	int "default task run time in ms"
	default 100

config MINOS_RESCHED_IRQ
	int "default resched IRQ number"
	default 7

config SMP
	bool "SMP system"
	help
	  smp system

config OS_REALTIME_CORE0
	bool "all realtime task will affinity to core 0"
	default n
	help
	  if enable this feature, all the realtime task will
	  affinity to cpu0

choice
	prompt "Printf log level"
	default PRINT_NOTICE
	config PRINT_DEBUG
		bool "Log Level DEBUG"
	config PRINT_INFO
		bool "Log Level INFO"
	config PRINT_NOTICE
		bool "Log Level NOTICE"
	config PRINT_WARN
		bool "Log Level WARNING"
	config PRINT_ERROR
		bool "Log Level ERROR"
endchoice

config LOG_LEVEL
	int
	default 5 if PRINT_DEBUG
	default 4 if PRINT_INFO
	default 3 if PRINT_NOTICE
	default 2 if PRINT_WARN
	default 1 if PRINT_ERROR
	default 3

endmenu
