CONFIG_ARCH_AARCH64=y
CONFIG_DEVICE_TREE=y
CONFIG_PLATFORM_FVP=y
CONFIG_SERIAL_PL011=y
CONFIG_IRQCHIP_GICV3=y
CONFIG_IRQCHIP_GICV2=y
CONFIG_VIRQCHIP_VGICV2=y
CONFIG_VIRQCHIP_VGICV3=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VRTC_PL031=y
CONFIG_VWDT_SP805=y

CONFIG_RAM_START_ADDRESS=0x80000000
CONFIG_RAM_SIZE=0x80000000

CONFIG_MINOS_START_ADDRESS=0xc0000000
CONFIG_MINOS_RAM_SIZE=64M
CONFIG_MAX_CPU_NR=8
CONFIG_NR_CPUS=4
CONFIG_NR_CPUS_CLUSTER0=4
CONFIG_NR_CPUS_CLUSTER1=0

CONFIG_UART_BASE=0x1c090000
CONFIG_UART_IO_SIZE=0x40000
CONFIG_PLATFORM_ADDRESS_RANGE=40

CONFIG_TASK_DEFAULT_STACK_SIZE=4K
CONFIG_IDLE_TASK_STACK_SHIFT=12

CONFIG_STACK_PAGE_ALIGN=y

# CONFIG_OS_REALTIME_CORE0	all realtime task will sched at core0
