CONFIG_ARCH_AARCH64=y
CONFIG_PLATFORM_RASPBERRY3=y
CONFIG_DEVICE_TREE=y
CONFIG_SERIAL_BCM283X_MU=y
CONFIG_IRQCHIP_BCM2836=y
CONFIG_VIRQCHIP_VGICV2=y
CONFIG_VIRQCHIP_VGICV3=y
CONFIG_VIRQCHIP_BCM2836=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VRTC_PL031=y
CONFIG_VWDT_SP805=y

CONFIG_MINOS_START_ADDRESS=0x28000000
CONFIG_MINOS_ENTRY_ADDRESS=0x28008000
CONFIG_MINOS_RAM_SIZE=308M
CONFIG_MAX_CPU_NR=8
CONFIG_NR_CPUS=4
CONFIG_NR_CPUS_CLUSTER0=4
CONFIG_NR_CPUS_CLUSTER1=0

CONFIG_UART_BASE=0x3f215040
CONFIG_UART_IO_SIZE=0x1000
CONFIG_PLATFORM_ADDRESS_RANGE=40

CONFIG_HVM_SPI_VIRQ_NR=96

CONFIG_TASK_RUN_TIME=100

CONFIG_VIRT=y

CONFIG_EXCEPTION_SIZE=8192

CONFIG_TASK_STACK_SIZE=8192
CONFIG_TASK_STACK_SHIFT=13
CONFIG_STACK_PAGE_ALIGN=y
CONFIG_SMP=y
