menu "Platform Configuration"

choice
	prompt "SOC current used"
	config SOC_FVP
		bool "arm fix virtual platform"
	config SOC_MARVELL_A3700
		bool "marvell a3700 SOC"
	config SOC_BCM2837
		bool "bcm2837 SOC"
	config SOC_BCM2838
		bool "bcm2838 SOC"
	config SOC_AMLOGIC
		bool "amlogic SOC"
	config SOC_R8A7795
		bool "r8a7795 SOC"
		select IRQCHIP_GICV2
		select SERIAL_SCIF
endchoice

source "platform/espressobin/Kconfig"
source "platform/fvp/Kconfig"
source "platform/raspberry3/Kconfig"
source "platform/raspberry4/Kconfig"
source "platform/amlogic/Kconfig"
source "platform/r8a7795/Kconfig"

endmenu
