config ARCH_AARCH64
	def_bool y
	select DEVICE_TREE
	select 64BIT
	help
	  AARCH64 Minos support

config 64BIT
	def_bool y

source "arch/aarch64/core/Kconfig"

if VIRT
source "arch/aarch64/virt/Kconfig"
endif

source "core/Kconfig"
source "virt/Kconfig"
source "drivers/Kconfig"
source "platform/Kconfig"
source "external/Kconfig"
source "apps/Kconfig"
source "libsys/Kconfig"
